@font-face {
    font-family: "ProductSans";
    src: url(./assets/product-sans/ProductSansRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ProductSans";
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        -10deg,
        white 50%,
        hsla(45, 86%, 62%, 0.2) 50%
    );
    background-repeat: no-repeat;
}
